#index {
  div.columns {
    div.column {
      display: flex;
      > * {
        width: 100%;
      }
      p {
        text-align: justify;
        line-height: 1.5rem;
      }
      i {
        vertical-align: bottom;
      }
    }
  }

  .graph {
    > div {
      height: 250px;
    }
  }
}
