#login {
  margin-top: 0.75rem;
  min-height: 100vh;
  background-image: url("../../../asset/img/bg2.jpg");
  > div {
    min-height: 100vh;
    div.column {
      @include until($tablet) {
        min-height: 100vh;
        @include flex-col();
        img {
            max-width: 50%;
        }
      }
    }
  }
}
