#user-one {
  .ms-DetailsHeader {
    padding-top: 0 !important;
  }
  .ms-DetailsRow-fields {
    cursor: pointer;
  }
  span {
    > i {
      vertical-align: bottom;
    }
  }
  .flex-row.flex-start {
    i {
      height: 32px;
    }
  }
}
