.steps {
  .step-item:not(.is-completed):not(.is-warning):not(.is-active) {
    &:before {
      background: linear-gradient(90deg, rgba($blue, 0.25) 0%, rgba($blue, 0.25) 100%);
    }
  }
  .step-marker {
    .ms-TooltipHost {
      width: 100%;
      text-align: center;
      i {
        vertical-align: bottom;
        font-style: initial;
        width: 100%;
        &.info {
          cursor: help;
        }
      }
    }
  }
  .step-details {
    .step-title {
      color: $dark-blue;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }
}
