.steps {
  .step-marker {
    .ms-TooltipHost {
      width: 100%;
      text-align: center;
      i {
        vertical-align: bottom;
        font-style: initial;
        width: 100%;
        &.info {
          cursor: help;
        }
      }
    }
  }
  .step-details {
    .step-title {
      color: $dark-blue;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }
}
