<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!-- <link href="../../public/css/attestation.css" rel="stylesheet" />-->
    <link href="css/bulma.min.css" rel="stylesheet" />
    {% block style %}
    {% endblock %}
</head>

<body>
    <section>
        {% block content %}
        {% endblock %}
    </section>

</body>

</html>