{% extends "pdf/_base.html.twig" %}

{% block style %}
    <!-- <link href="../../public/css/attestation.css" rel="stylesheet" />-->
    <link href="css/attestation.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- <img src="../../public/img/logo.png" class="logo"> -->
    <img src="./img/logo.png" class="logo">
    <p>
        Thouaré Handball Club<br />
        Route de la Barre<br />
        44470 Thouaré sur Loire<br />
        <a href="https://thouarehbc.fr">https://thouarehbc.fr</a><br />
        <br /><br />
        SIRET : 529 434 102 00032
    </p>
    <br /><br />
{% endblock %}