@mixin flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

*.flex-row {
  @include flex-row();
  > *.flex-one {
    flex: 1;
  }
}

*.flex-col {
  @include flex-col();
  > *.flex-one {
    flex: 1;
  }
}

*.flex-start {
  justify-content: start !important;
}

*.no-margin-right {
  margin-right: 0 !important;
}

*.no-margin-left {
  margin-left: 0 !important;
}

*.card {
  background: white;
  @include ms-depth-4;
  padding: 25px;
  border-radius: 2px;
  word-break: break-word;
}

*.is-bold {
  font-weight: bold !important;
}

*.is-underline {
  text-decoration: underline !important;
}

.ms-Link.link-as-input {
  font-size: 14px;
  margin-left: 8px;
}
