div#root {
  .pageloader {
    background: linear-gradient(to right bottom, $blue 0%, $blue 75%, $dark-blue) !important;
  }
  height: 100vh;
  nav.navbar {
    @include ms-depth-16;
    background: linear-gradient(to left, $dark-blue, $blue);
    .navbar-brand {
      span {
        color: $white;
      }
      .navbar-item {
        span {
          color: $white;
          margin-left: 13px;
        }
      }
    }
    .navbar-end {
      i {
        color: $white !important;
      }
    }
    .navbar-menu {
      .navbar-start {
        // background-color: $grey;
        i {
          color: $blue !important;
        }
        .navbar-link {
          &:hover {
            background: unset !important;
            color: unset !important;
            cursor: auto;
          }
        }
        a:hover {
          background: $light-grey;
          color: $blue !important;
        }
      }
    }
    a:hover {
      i {
        color: $blue !important;
        border-bottom-color: $blue !important;
      }
    }
  }
  div.layout {
    background-color: $grey;
    display: flex;
    min-height: 100%;
    min-height: calc(100vh - 52px); //52px is navbar height
    overflow: hidden;
    aside {
      > div {
        border-top: 1px solid $light-grey;
        padding-top: 15px;
        margin-top: 44px;
        div.ms-Nav-compositeLink {
          width: 95%;
          border-radius: 1px;
          > button {
            font-weight: normal !important;
            color: unset !important;
            &:hover {
              background: $light-grey;
            }
            div {
              display: flex;
              i {
                margin-right: 10px;
                color: rgb(38, 96, 147) !important;
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
    div.main {
      width: 100%;
      min-height: 100%;
      div.ms-CommandBar {
        background: $grey;
        .ms-OverflowSet-overflowButton {
          > button {
            background: $grey;
          }
        }
        .ms-OverflowSet-item {
          @include flex-col();
          > button.ms-Button {
            height: 75%;
            border-radius: 1px;
            background: $grey;
            &:not(.is-disabled) {
              color: $blue;
            }
            &:hover {
              background: $blue;
              span {
                color: white !important;
              }
              i {
                color: white;
              }
            }
          }
        }
        .ms-Button--commandBar {
          .is-expanded.ms-Button--hasMenu {
            &:hover {
              i.ms-Icon.ms-Button-menuIcon.is-expanded {
                background-color: unset;
              }
            }
          }
          .ms-Button-label {
            overflow: visible !important;
          }
        }
      }
      div.content {
        padding: 10px 35px;
        @include until($tablet) {
          padding: 10px 0;
        }
        min-height: 100%;
        background-color: $light-grey;
        box-shadow: inset $ms-depth-shadow-8;
        .ms-Breadcrumb {
          margin: 0 0 13px;
          ol {
            margin: 0;
          }
          li {
            & + li {
              margin-top: 0 !important;
            }
          }
        }
      }
    }
  }
}
