//Dependencies
@import '~office-ui-fabric-react/dist/sass/Fabric.scss';
@import "~bulma/bulma.sass";
@import "~bulma-extensions/dist/css/bulma-extensions.min.css";

//Theme
@import "./_helpers.scss";
@import "./_variables.scss";

//Layout
@import "./layout.scss";

//Pages
//.
@import "./page/index.scss";

//public
@import "./page/public/login.scss";

//member
@import "./page/member/all.scss";
@import "./page/member/one.scss";

//team
@import "./page/team/all.scss";
@import "./page/team/one.scss";

html {
  min-height: 100%;
  height: 100%;
  max-width: 100vw;
  color: $black !important;
  background-color: $light-grey;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0;
  > * {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto",
      "Helvetica Neue", sans-serif !important;
  }
  body {
    max-width: 100vw;
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    a:focus {
      text-decoration: none;
      user-select: none;
      outline: none;
    }
  }
}
